<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生查询</title>
    <link rel="stylesheet" th:href="@{/Sys/css/layui.css}">
    <link rel="stylesheet" th:href="@{/Sys/css/xadmin.css}">
    <script th:src="@{/Sys/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/Sys/js/jquery-3.3.1.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="layui-container">
        <span class="layui-breadcrumb">
            <a th:href="@{index}">首页</a>
            <a href="">学生信息</a>
            <a><cite>学生查询</cite></a>
        </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i>
    </a>
</div>
<div class="x-body">
    <div class="layui-row">
        <div class="demoTable" style="margin-bottom: 20px">
            搜索姓名：
            <div class="layui-inline">
                <input class="layui-input" name="id" id="demoReload" autocomplete="off" placeholder="请输入姓名">
            </div>
            <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
        </div>
    </div>
    <xblock>
        <button class="layui-btn" onclick="stuAdd()"><i class="layui-icon"></i>添加</button>
    </xblock>
    <table id="test" lay-filter="test"></table>
</div>

<!-- 操作列模板 -->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">
        <i class="layui-icon">&#xe642;</i>修改
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon">&#xe640;</i>删除
    </a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;
        var layer = layui.layer;

        // 表格渲染
        var tableIns = table.render({
            elem: '#test',
            id: 'stuInfo',
            method: 'post',
            url: '/course/student/getStuSimpleInfo',  // 恢复原URL路径（根据实际项目调整）
            page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],
                groups: 1
            },
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'stuNo', title: '学号', sort: true},
                    {field: 'name', title: '姓名'},
                    {field: 'gender', title: '性别'},
                    {field: 'grade', title: '班级'},
                    {field: 'faceId', title: '人脸ID'},
                    {field: 'qq', title: 'QQ号'},
                    {field: 'operation', title: '操作', toolbar: '#barDemo', width: 160}
                ]
            ],
            done: function(res, curr, count){
                // 表格渲染完成回调，可用于处理错误
                if(res.code !== 0){
                    layer.msg('数据加载失败：' + res.msg, {icon: 2});
                }
            }
        });

        // 搜索功能
        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');
                table.reload('stuInfo', {
                    page: {
                        curr: 1
                    },
                    url: '/course/student/getStuByName',  // 恢复原URL路径（根据实际项目调整）
                    where: {
                        key: {
                            id: demoReload.val()
                        }
                    },
                    method: 'post'
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        // 监听工具条事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                // 删除操作
                layer.confirm('确认要删除【' + data.name + '】吗？', function (index) {
                    $.ajax({
                        url: '/course/student/delete',  // 恢复原URL路径（根据实际项目调整）
                        data: {num: data.stuNo},  // 恢复原参数名（根据实际项目调整）
                        type: 'post',
                        success: function (res) {
                            if (res === 'success') {
                                obj.del();
                                layer.msg('删除成功！', {icon: 1, time: 1500});
                            } else {
                                layer.msg('删除失败：' + res, {icon: 2});
                            }
                        },
                        error: function (xhr) {
                            layer.msg('服务器异常：' + xhr.status, {icon: 2});
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                // 编辑操作
                layer.open({
                    type: 2,
                    title: '修改页面',
                    skin: 'layui-layer-molv',
                    shadeClose: false,
                    shade: 0.8,
                    area: ['700px', '580px'],
                    offset: '6%',
                    scrollbar: false,
                    content: '/course/student/stuModify?num=' + data.stuNo,  // 恢复原URL路径
                    end: function () {
                        tableIns.reload();
                    }
                });
            }
        });
    });

    // 添加学生弹窗
    function stuAdd() {
        layer.open({
            type: 2,
            title: '增加页面',
            skin: 'layui-layer-lan',
            shadeClose: false,
            shade: 0.8,
            area: ['700px', '450px'],
            content: '/course/student/stuAdd',  // 恢复原URL路径
            end: function () {
                layui.table.reload('stuInfo');
            }
        });
    }
</script>
</body>
</html>